/* .title{
    font-family: 'Whitney-Semibold-Bas';
    color: #003366;
    font-size: 35px;
}

.content{
  margin-top: -20px;
}

.content{
  font-family: 'Whitney-Semibold-Bas';
  font-size: 18px;
  width: 500px;
}

.button{
font-size: 12px;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: 0.2em;
  height: 40px;
  background: -webkit-linear-gradient(#fff, #A0A0A0);
  text-transform: uppercase;
  font-family: 'Whitney-Semibold-Bas';
  border-radius: 20px;
  width: 220px;
}


.button:hover {
    font-size: 14px;
    font-weight: 500;
    width: 250px;
    color: #336699;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#fff, #336699);
  }

  // Services***************************************************************

  @media (max-width: 800px) {
    .service-area, .pb-150 {
      padding-bottom: 0px !important;
    }
  }
  
  .sigle-service .lnr {
    font-size: 35px;
    color: #777777;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .sigle-service:hover {
    cursor: pointer;
  }
  
  .sigle-service:hover .primary-btn {
    color: #fff;
  }
  
  .sigle-service h4 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .sigle-service p {
    margin-bottom: 35px;
  }
  
  @media (max-width: 991.98px) {
    .sigle-service {
      margin-bottom: 60px;
    }
  }
  
  @media (max-width: 798px) {
    .sigle-service {
      text-align: center;
    }
  }
  
  .sigle-service .primary-btn {
    padding-left: 30px;
    padding-right: 30px;
    background: transparent;
    border: 1px solid #eee;
    color: #222;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  } */