/* .title{
    font-family: 'Whitney-Semibold-Bas';
    color: #336699;
    font-size: 35px;
}

.content{
  margin-top: -20px;
}

.content{
  font-family: 'Whitney-Semibold-Bas';
  font-size: 18px;
  width: 500px;
}
 */